<nav id="main-nav">
	<div class="navbar">
	  	<a href="/" title="index">HOMEPAGE</a>
	  	<a href="/typesOfData" title="Types of Data">TYPES OF DATA</a>
	  	<a href="/dataProcessing" title="Data Processing">DATA PROCESSING</a>

	  	<div class="dropdown">
	    	<button class="dropbtn">EXAMPLES  
	      	<i class="fa fa-caret-down"></i>
	    	</button>
	    	<div class="dropdown-content">
	      		<a href="/population">NYC Population</a>
	      		<a href="/SubwayData">NYC Subways</a>
	      		<a href="/anExample" title="An Example">Python Image Data</a>
	    	</div>
	  	</div>

	  	<div class="dropdown"  style="float:right">
	    	<button class="dropbtn">OTHER  
	      	<i class="fa fa-caret-down"></i>
	    	</button>
	    	<div class="dropdown-content">
	      		<a href="/about">About</a>
	      		<a href="/contact">Contact</a>
	      		<a href="/references">References</a>
	    	</div>
	  	</div>

	</div>
</nav>