<style>
/* css */
	.ajax-container, h1, p, h2. img{
		margin: auto;
	}

	.center {
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	    width: 50%;
	}

	#btn{
		height: 60px;
		width: 150px;
		border: none;
		border-radius: 6px;
		color: white;
		background: blue;
		outline: none;
		font-size: 22px;
		opacity: 0.7;
		padding: 10px;
		text-align: center;
	}

	#btn:hover{
		cursor: pointer;
		opacity: 1;
	}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.partners {
    width: 80%;
    margin: 0 auto;
}

</style>

<script>

	// zoom map
	$('#my-image').on('click', function (){
	        $(this).width(750);
	});
	
	//making the ajax call to get the data from API
	var count = 0;
	
	$("#btn").click(function(){
		fetchDataAndDisplay();
	});
	
	function fetchDataAndDisplay(){
		$.ajax({
			url:"https://data.cityofnewyork.us/resource/kk4q-3rt2.json",
			method:"GET"
		}).done(function(data){
			var start = count > 0 ? 5 * count : count;
			var str = '<tr><th>Object id</th><th>Station Name</th><th>Line</th><th>Notes</th></tr>';
			dataType: "json";
			for(var i=start; i<data.length; i++){
				str += 
				  '<tr>' +
				    '<td>' + data[i].objectid + '</td>' +
				    '<td>' + data[i].name + '</td>' +
				    '<td>' + data[i].line + '</td>' +
				    '<td>' + data[i].notes + '</td>' +
				  '</tr>';
			}
			
			if(start == data.length){
				count = 0;
				$(".display-data").empty();
				$(".display-data").append("Error!");
				return;
			}
			
			count++;
			$(".display-data").empty();
			$(".display-data").append(str);
		})
	}

</script>