<!-- /* Ziaul Choudhury(Zia) */ -->
<!DOCTYPE html>
<html>
<head>
	<title>Data Is Beautiful</title>
	<% include partials/library.ejs %>
</head>
<body>

	<div class="header">
		<h1>Data Processing.</h1>
		<p>
			Data processing is a series of operations that use information to produce a result. Common data processing operations include validation, sorting, classification, calculation, interpretation, organization and transformation of data. The following are illustrative examples of data processing.
		</p>
	</div>

	<% include partials/nav.ejs %>

	<p id="middle-image"><img src="images/data-processing.jpg" alt="data-processing" title="data-processing"width="90%"></p>
	
	<h2>8 Examples of Data Processing:</h2>


	<section class="column">
		<p>
			<strong> 1. Electronics:</strong> A digital camera converts raw data from a sensor into a photo file by applying a series of algorithms based on a color model.<br><strong>2. Decision Support:</strong> A stock trading application converts data representing millions of stock trades into a graph that can be quickly understood by a trader.<br><strong>3. Integration:</strong> An integration process moves data from one system to another. This involves a process of transferring and transforming the format of the data.<br>
			<strong>4. Automation:</strong> A telecom billing system calculates the monthly charges for customers based on factors such as the customer's service plan and their data usage for the month. The charges are summarized as a document that is mailed to customers. The entire process is automated with a billing team monitoring it.<br><strong>5. Transactions:</strong> A banking website accepts a money transfer request from a user by validating it and formatting it to be processed by a backend system.<br><strong>6. Media:</strong> A website accepts user submitted media such as videos and converts it to a standard format for display to users.<br><strong>7. Communication:</strong> A messaging tool encrypts a message before sending it using an encryption algorithm and a public key.<br><strong>8. Artificial Intelligence:</strong> A self-driving car uses real time data from sensors to detect if there are pedestrians ahead. This is done by applying models that were developed through a process of machine learning whereby an artificial intelligence examined millions of hours of sensor data to practice detecting pedestrians.
		</p>
	</section>

	<% include partials/footer.ejs %>
</body>
</html>