<!-- /* Ziaul Choudhury(Zia) */ -->
<!DOCTYPE html>
<html>
<head>
	<title>Data Is Beautiful</title>
	<% include partials/library.ejs %>

</head>
<body>
	<div class="header">
		<h1>Data Is Beautiful.</h1>
		<p><q>Data! Data! Data! I can't make bricks without clay.<br> — Sherlock Holmes, in Arthur Conan Doyle's The Adventure of the Copper Beeches.</q></p>
	</div>
	<% include partials/nav.ejs %>

	<p id="middle-image"><img src="images/data-is-beautiful.jpg" alt="data-is-beautiful" title="data-is-beautiful" width="90%"></p>

	<h2>Welcome to Data Is Beautiful!!!</h2>

	<section class="column">
		<p>
			<span>E</span>xistingin the world of data, information and knowledge can be turned into beautiful infographics &amp; visualizations.
		</p>

		<p>
			<span>W</span>e now live in the world of ever-growing data that is getting ginormous by every day. Wheatear you are an in the field of business, IT, CS, or floating somewhere in between. You can find that data is relevant in a meaningful and a beautiful way to your field. An interesting fact about data is that we humans are creating data from pre-historic age. The cave-arts that have been discovered are actually the graphical form of data at that time.
		</p>


		<p>
			<span>W</span>hat’s more… our reliance on data is becoming a more common factor in our lives. Any social media that we use is data. Most of the research that we do are based on data. The growth of the business can be based on data. Historical data is helping us look back in past and move forward to future. For example, the evaluation of the automobile, weather data, and etc.
		</p>

	</section>

	<% include partials/footer.ejs %>

</body>
</html>