<!-- /* Ziaul Choudhury(Zia) */ -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Data Is Beautiful References</title>
	<% include partials/library.ejs %>

</head>
<body>
	<h1>References:</h1>
	<% include partials/nav.ejs %>
	<ol>
		<li><strong>Google Image.</strong></li>
		<li><strong>Hackernoon:</strong> https://hackernoon.com/data-is-beautiful-6a7adfceb0db</li>
		<li><strong>The Minitab Blog:</strong> http://blog.minitab.com/blog/understanding-statistics/understanding-qualitative-quantitative-attribute-discrete-and-continuous-data-types</li>
		<li><strong>Google Dictnoary:</strong> https://www.google.com/search?q=Attribute&amp;oq=Attribute&amp;aqs=chrome..69i57j69i60&amp;sourceid=chrome&amp;ie=UTF-8</li>
		<li><strong>Simplicable: https:</strong>//simplicable.com/new/data-processing</li>
		<li><strong>Pyhton Source Code:</strong> https://github.com/zchy/Image-Data.</li>
		<li><strong>USGS:</strong> https://remotesensing.usgs.gov/gallery/gallery.php?cat=3#481</li>
	</ol>

	<h1>Pyhton Processed Images:</h1>
	<p id="middle-image"><img src="../images/new2015.png" alt="new2015.png" title="new2015.png" width="80%"><br>new2015.png<br></p>
	<p id="middle-image"><img src="../images/new2016.png" alt="new2016.png" title="new2016.png" width="80%"><br>new2016.png<br></p>

	<% include partials/footer.ejs %>
</html>