<!-- /* Ziaul Choudhury(Zia) */ -->
<!DOCTYPE html>
<html>
<head>
	<title>Data Is Beautiful</title>
	<% include partials/library.ejs %>
</head>
<body>
	<div class="header">
		<h1>Types of Data.</h1>
		<p>
			Whether you're the world's greatest detective trying to crack a case or a person trying to solve a problem at work, you're going to need information. Not all data is created equal, especially if you plan to analyze as part of a quality improvement project. But it's still important to have at least a basic understanding of the different types of data, and the kinds of questions you can use them to answer.
		</p>
	</div>

	<% include partials/nav.ejs %>

	<p id="middle-image"><img src="images/types-of-data.png" alt="types-of-data" title="types-of-data"  width="90%"></p>
	
	<h2>Understanding Qualitative, Quantitative, Attribute, Discrete, and Continuous Data Types.</h2>


	<section class="column">
		<p>
			<strong><em>Quantitative data</em></strong> deals with numbers and things you can measure objectively: dimensions such as height, width, and length. Temperature and humidity. Prices. Area and volume.<br><br><strong><em>Qualitative data</em></strong> deals with characteristics and descriptors that can't be easily measured, but can be observed subjectively—such as smells, tastes, textures, attractiveness, and color.<br><br><strong><em>Discrete data</em></strong> is a count that can't be made more precise. Typically, it involves integers. For instance, the number of children (or adults, or pets) in your family is discrete data, because you are counting whole, indivisible entities: you can't have 2.5 kids, or 1.3 pets.<br><br><strong><em>Attribute data</em></strong> is a piece of information that determines the properties of a field or tag in a database or a string of characters in a display.<br><br><strong><em>Continuous data,</em></strong> on the other hand, could be divided and reduced to finer and finer levels. For example, you can measure the height of your kids at progressively more precise scales—meters, centimeters, millimeters, and beyond—so height is continuous data.
		</p>
	</section>

	<% include partials/footer.ejs %>


</body>
</html>